$mdc-theme-primary: #eeeeee;
$mdc-theme-secondary: #4b5961;
$mdc-theme-background: #fff;
$mdc-theme-whatsapp-green: #4d0379;
$mdc-theme-whatsapp-message-out: #dcf8c6;
$mdc-theme-whatsapp-message-in: #fff;
$mdc-theme-whatsapp-intro-background: #f7f9fa;

$mdc-theme-whatsapp-border-radius: 3px;
$mdc-theme-whatsapp-canvas-min-height: 80vh;

$mdc-layout-grid-default-gutter: (
  desktop: 0px,
  tablet: 0px,
  phone: 0px
);

$mdc-layout-grid-default-margin: (
  desktop: 53px,
  tablet: 32px,
  phone: 32px
);
