<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner whatsapp-canvas-wrapper mdc-elevation--z3">
    <section role="chats"
             class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop  mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-mobile">
      <mdc-toolbar>
        <mdc-toolbar-row>
          <mdc-toolbar-section [alignStart]="true">
            <img src="{{ loggedUser.picture }}" alt="">
          </mdc-toolbar-section>
          <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
            <a href="#/more" mdcRipple mdc-toolbar-icon material-icon>message</a>
            <a href="#/more" mdcRipple mdc-toolbar-icon material-icon>more_vert</a>
          </mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>
      <mdc-list-group>
        <ul class="mdc-list">
          <app-whatsapp-friend-search></app-whatsapp-friend-search>
          <app-whatsapp-friend-list></app-whatsapp-friend-list>
        </ul>
      </mdc-list-group>
    </section>
    <section role="messages" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
      <mdc-toolbar>
        <mdc-toolbar-row>
          <mdc-toolbar-section [alignStart]="true">
            <div *ngIf="selectedFriend !== null;">
              <div class="mdc-list-item" mdcTypography>
                <span class="mdc-list-item__graphic"> <img src="{{ selectedFriend.picture }}" alt=""></span>
                <span class="mdc-list-item__text">
                  {{ selectedFriend.name }}
                  <span class="mdc-list-item__secondary-text">online</span>
                </span>
              </div>
            </div>
          </mdc-toolbar-section>
          <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
            <a href="#/more" mdcRipple mdc-toolbar-icon material-icon>search</a>
            <a href="#/more" mdcRipple mdc-toolbar-icon material-icon>attach_file</a>
            <a href="#/more" mdcRipple mdc-toolbar-icon material-icon>more_vert</a>
          </mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>
      <app-whatsapp-friend-message-list></app-whatsapp-friend-message-list>
    </section>
  </div>
</div>
